html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Anek Telugu', sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.navbar{
  font-size: 1.3rem;
  font-weight: 600;

  .navbar-brand{
    position: relative;
    height: 4rem;
    width: 12rem;
  }

  .btn{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 3px 10px;
  }
}

#hero{
  height: 90vh;
  padding: 0 5rem;

  #description{
    position: relative;
  }

  #description-text{
    position: absolute;
    top: 27%;
    padding: 3rem;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
  }

  #heading{
    font-weight: 800;
  }
  
  #hero-image-container{
    position: relative;
  }
}